/* General Colors */
:root {
  /* Palette */
  /* --palette1: #355070; */
  --palette1: color-mix(in srgb, #355070 70%, black);
  --palette2: #6d597a;
  --palette3: #b56576;
  --palette4: #e56b6f;
  --palette5: #eaac8b;
  --palette6: white;
  --palette7: black;

  /* Colors used */
  --bg-primary: color-mix(in srgb, var(--palette1) 50%, black);
  --bg-secondary: color-mix(in srgb, var(--palette1) 30%, black);
  --text-primary: var(--palette6);
  --accent: color-mix(in srgb, var(--palette5) 80%, white);
  --accent-hover: color-mix(in srgb, var(--palette3) 80%, white);
  --surface-transparent: rgba(0, 0, 0, 0.7);
}

/* Themes */
/* :root[data-theme="dark"] {
  --bg-primary: color-mix(in srgb, var(--palette1) 50%, black);
  --bg-secondary: color-mix(in srgb, var(--palette1) 30%, black);
  --text-primary: var(--palette6);
  --accent: color-mix(in srgb, var(--palette5) 80%, white);
  --accent-hover: color-mix(in srgb, var(--palette3) 80%, white);
}
:root[data-theme="light"] {
  --bg-primary: var(--palette5);
  --bg-secondary: color-mix(in srgb, var(--bg-primary) 70%, white);
  --text-primary: var(--palette7);
  --accent: color-mix(in srgb, var(--palette1) 70%, black);
  --accent-hover: var(--palette2);
} */
/* @media (prefers-color-scheme: dark) {
} */

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
