/* Font */

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-size: 20px;
  line-height: 1.7;
  font-family: "Atkinson", sans-serif;
  text-indent: 0;
}
@media (max-width: 700px) {
  html {
    font-size: 16px;
  }
}

/* Titles */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}
/*  All titles */
h1,
h2,
h3,
h4,
h5 {
  color: var(--accent);
  line-height: 1.2;
}
/* Subtitles parameters*/
h3,
h4,
h5 {
  margin: 0;
}

/* Paragraphs */
b {
  font-weight: 700;
}
p {
  font-size: 1rem;
  color: var(--text-primary);
}
textarea {
  width: 100%;
  font-size: 1rem;
}

/* Other */
input {
  font-size: 1rem;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

strong,
code {
  padding: 2px 5px;
  background-color: rgb(var(--bg-primary));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
