---
import Page from "../layouts/Page.astro";
---

<!doctype html>
<Page title="About Me" description="Lorem ipsum dolor sit amet">
  <p>
    Sono un sviluppatore di robotica italiano, da Macerata. Ho iniziato il mio
    percorso come ingegnere meccanico ad Ancona, poi ho studiato Ingegneria
    Meccatronica a Trento.
  </p>

  <h1>Jobs</h1>
  <p>
    Sono un sviluppatore di robotica italiano, da Macerata. Ho iniziato il mio
    percorso come ingegnere meccanico ad Ancona, poi ho studiato Ingegneria
    Meccatronica a Trento.
  </p>
</Page>
