---
import Link from "../utils/Link.astro";
import { SITE_TITLE } from "../../consts";
import ThemeToggle from "./ThemeToggle.astro";

const { class: className, ...props } = Astro.props;
---

<header class={className}>
  <Link href="/">{SITE_TITLE}</Link>
  <div class="internal-links-desktop">
    <Link href="/">About</Link>
    <Link href="/projects">Projects</Link>
    <Link href="/curriculum">Curriculum</Link>
  </div>
</header>

<!-- <ThemeToggle class="theme-toggle" /> -->
<style>
  /*  Generic Configuration */
  header {
    display: flex;
    align-items: center;
    padding: 1em;
    background: var(--bg-secondary);
  }

  a {
    color: var(--accent);
    font-size: 1em;
    font-weight: bolder;
  }
  a:hover {
    color: var(--accent-hover);
  }

  /* Positions */
  div {
    display: block;
    position: absolute;
    right: 1em;
  }

  @media (max-width: 500px) {
    .internal-links-desktop {
      display: none;
    }
  }

  /* Title */
  /* .theme-toggle {
    position: absolute;
    left: 99%;
    font-size: 1rem;
  } */
</style>
