---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/utils/FormattedDate.astro";
import Page from "../../layouts/Page.astro";

const posts = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<Page>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/projects/${post.data.title}/`}>
              <img src={post.data.heroImage} />
              <h3 class="title">{post.data.title}</h3>
              <h5>
                <FormattedDate date={post.data.pubDate} />
              </h5>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Page>

<style>
  h1,
  h5 {
    color: var(--accent);
    font-weight: bolder;
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    justify-content: center;
  }
  ul li {
    justify-content: center;
    text-align: center;
    width: calc(50% - 1rem);
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li:first-child {
    width: 80%;
    margin-bottom: 1rem;
  }

  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
    max-height: 10rem;
    width: auto;
  }
  ul li a {
    display: block;
    color: var(--text-primary);
  }
  .title {
    margin: 0;
    line-height: 1;
  }
  ul li a:hover h4,
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
  }
</style>
