---
import "../styles/global.css";

import BaseHead from "../components/header/BaseHead.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <div class="layout">
    <Header />
    <div class="layout-core">
      <slot />
    </div>
    <Footer />
  </div>
</html>

<style>
  body,
  html {
    background: linear-gradient(
      to bottom,
      var(--bg-primary),
      var(--bg-secondary)
    );
    font-family: "Atkinson", sans-serif;
    font-size: 20px;
    line-height: 1.7;
    margin: 0;
  }

  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
  }

  .layout-core {
    max-width: 1700px;
    min-height: 60vh;
    margin: auto auto;
    display: flex;
    flex-direction: column;
  }
</style>
