---
import Layout from "../layouts/Layout.astro";

const { title } = Astro.props;
---

<Layout>
  <main>
    <article>
      <div class="prose">
        <div class="title">
          <h1>{title}</h1>
          <hr />
        </div>
        <body><slot /> </body>
      </div>
    </article>
  </main>
</Layout>

<style>
  .body {
    color: var(--text-primary);
  }
</style>
