---
import Page from "../layouts/Page.astro";

import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/utils/FormattedDate.astro";

type Props = CollectionEntry<"projects">["data"];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<Page title={title}>
  <article>
    <div class="hero-image">
      {heroImage && <img width={560} height={255} src={heroImage} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <h5 class="date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </h5>
      </div>
      <slot />
    </div>
  </article>
</Page>
